/*css for the cars that have the events.json data on them*/

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGC-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGC7eGk4PJkA83J1AXCmgUfc.woff) format('woff');
}

body {
    padding-left: 10px;
    padding-right: 10px;
}

body,
h1, h2, h3, h4, h5, p {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

h2, h2, h3, h4, h5 {
    font-weight: 800;
    margin: 0px 0px 5px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.card {
    background: #fafafa;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    width: 32%;
    margin-bottom: 10px;
    margin-right: 1%;
    padding: 20px;
    min-height: 525px;
}
.card h1{
    color: #306;
}
.card h4.kicker {
    font-weight: normal;
    font-size: 0.9em;
    text-transform: uppercase;
}
.card a {
    text-decoration: underline;
    color: black;
}
.card a:hover {
    text-decoration: none;
    color: #777;
}

.card ul{
    padding: 0;
}

.card li{
    list-style-type: none;
}
.card .locator {
    width: 100%;
    max-width: 100%;
}
.card .restaurant-toggle {
    color: #444;
    background-color: #eee;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.card .restaurant-toggle:hover {
    color: #111;
    background-color: #e3e3e3;
}
.card .restaurant-list {
    display: none;
}
.card small {
    display:block;
    padding: 0 0 0 15px;
}
#count-target {
    margin: 20px;
}
button.btn-lg {
    font-size: 1em;
    text-transform: uppercase;
    margin: 10px -4px 10px 0;
    border-radius: 0px;
    background-color: #fcfcfc;
    float: left;
}
button.btn-lg:hover {
    background-color: #e0e0e0;
}
button.btn-lg.selected {
    -webkit-box-shadow: inset 0px 0px 10px #999;
    -moz-box-shadow: inset 0px 0px 10px #999;
    box-shadow: inset 0px 0px 10px #999;
    border: 1px solid #aaa;
    background: white;
}
@media (max-width: 700px){
    .card {
        width: 48%;
    }
}
@media (max-width: 700px){
    .left,
    .right {
        float: none;
        margin: 0px !important;
    }
    button.btn-lg {
        width: 100%;
        display: block;
        margin: 0px 0px -1px;
    }
    #count-target {
        margin: 20px 0 !important;
    } 
}
@media (max-width: 480px){
    .card {
        width: 100%;
        margin-right: 0px;
    }
}
@media (max-width: 385px){
}